
  
  .hs {
    background-color: #12151c;
    display: grid;
    grid-gap: calc(var(--gutter));
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(14% - var(--gutter) * 2);
    
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }
  
  .hs:before,
  .hs:after {
    content: '';
    width: 10px;
  }

  .hs > li,
  .item {
    background-color: #12151c;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  .poster{
 border-radius: 4px;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }