.hs {
  display: grid;
  grid-gap: calc(var(--gutter));
  grid-template-columns: 10px;
  grid-template-rows: minmax(18vw, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(14% - var(--gutter) * 2);
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}



@media only screen and (max-width: 1150px) {
  .hs {
    grid-auto-columns: calc(25% - var(--gutter) * 2);
  }
}
@media only screen and (max-width: 700px) {
  .hs {
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  }
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}

.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.poster {
  border-radius: 4px;
}

.arrow-button {
  opacity:0.1;
  color: rgb(71 85 105);
  position: absolute;
}
.arrow-button:hover {
  color: rgb(148 163 184);
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 12px;
	padding: 10px 10px 24px;
	text-align: center;
  color : white !important;
}
