:root {
    --gutter: 20px;
  }
  
.category-row:hover .arrow-button{
  opacity:0.8;
}
  .app > .full {
    grid-column: 1 / -1;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  