:root {
    --gutter: 20px;
  }
  
  .app {
    min-width: 100vw;
    background-color: #12151c;
    padding: var(--gutter) var(--gutter);
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
  }
  
  .app > * {
    grid-column: 2 / -2;
  }
  
  .app > .full {
    grid-column: 1 / -1;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }